<div class="products" [formGroup]="form" fxFlex fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div class="img-box">
      <img [src]="svgPath + 'doc-icon-blue.svg'" />
    </div>
    <h2>Products</h2>
  </div>
  <div fxLayout="column">
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20px">
      <il-pill *ngFor="let product of formProducts?.get('products')?.controls; let i = index;" [item]="product?.value"
        (removeEmitter)="onRemove($event)">
      </il-pill>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <il-input-select fxFlex="25" [form]="form" [controlName]="'name'"></il-input-select>
      <il-input fxFlex="25" [form]="form" [isNumberOnly]="true" [controlName]="'qty'" placeholder="Enter quantity"></il-input>
      <il-input fxFlex="25" [form]="form" isNumberOnly="true" [controlName]="'cost'" placeholder="Enter unit cost"></il-input>
      <button [disabled]="!form.valid" mat-flat-button class="il-button primary" (click)="addProduct()">
        Add Product
      </button>
    </div>
  </div>
</div>
