@import "src/styleguide/shared";
.products {
  > div:nth-child(2) {
    margin-left: 4%;
  }
}
.il-button {
  @include il-button;
}

:host ::ng-deep {
  .mat-tab-body-wrapper {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08) !important;
  }
  .mat-accordion .mat-expansion-panel:first-of-type {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .mat-tab-label .mat-tab-label-content {
    font-size: 16px;
    font-weight: 500;
  }
  .mat-tab-header,
  .mat-tab-nav-bar {
    border: 0 !important;
  }
  .mat-tab-label {
    border: thin $color-gray-3 solid;
    border-radius: 2px 2px 0 0;
    background-color: $color-white;
    opacity: 1;
  }
  .mat-ink-bar {
    height: 0 !important;
  }
  .mat-checkbox-inner-container {
    height: 20px;
    width: 20px;
  }

  .sub-product {
    margin-left: 10px;
    img {
      cursor: pointer;
    }
    img:first-child {
      margin-right: 5px;
    }

    .il-input-select {
     font-size: 14px ;
     font-weight: 500;
    }
    .mat-form-field-appearance-legacy .mat-form-field-wrapper {
      padding-bottom: 1em;
    }
    .mat-form-field-appearance-legacy .mat-form-field-infix {
      border-top-width: 0;
    }
  }
  
}
