@import "src/styleguide/shared";
.product-section {
  > div {
    &:nth-child(2) {
      height: 50px;
    }
    > div {
      width: 100%;
    }
  }
}
.il-button {
  @include il-button;
}
.add-icon, .remove-icon {
  cursor: pointer;
}

