@import "src/styleguide/shared";
.product-section {
  > div {
    &:nth-child(2) {
      height: 50px;
    }
    > div {
      width: 100%;
      height: 60px;
    }
  }
}
.cp-container {
  p {
    font-size: 14px;
    color: $color-gray-1;
  }
}
.il-button {
  @include il-button;
}
.add-icon, .remove-icon {
  cursor: pointer;
}


