@mixin il-tab {
  .footer {
    height: 48px;
    font-size: 12px;
    font-weight: 500;
    color: $color-primary;
    .link {
      cursor: pointer;
    }
    img.add {
      padding: 0 20px;
      cursor: pointer;
    }
    img.close {
      cursor: pointer;
    }
  }
  ::ng-deep {
    .mat-tab-label .mat-tab-label-content {
      font-size: 16px;
      font-weight: 500;
    }
    .mat-tab-header,
    .mat-tab-nav-bar {
      border: 0 !important;
    }
    .mat-tab-body-wrapper {
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
    }
    .mat-tab-label {
      border: thin $color-gray-2 solid;
      border-radius: 2px 2px 0 0;
      background-color: $color-white;
      opacity: 1;
    }
    .mat-ink-bar {
      height: 0 !important;
    }
  }
}
