@import "src/styleguide/shared";
.il-button {
  @include il-button;
}
.hidden {
  display: none !important;
}
.il-draggable-expansion {
  @include il-draggable-expansion;
}
.add-icon {
  .mat-icon {
    color: $color-primary;
    margin-right: 0px !important;
    margin-top: 3px;
  }
}
::ng-deep {
  .cdk-drag-preview {
    border-radius: 0 !important;
    @extend .il-draggable-expansion; 
  }
}