@import "src/styleguide/shared";
.il-pill {
  @include il-pill;
  cursor: default;
  animation: showNav 250ms ease-in-out both;
}
@keyframes showNav {
  from {opacity: 0;}
  to {opacity: 1;}
}
.p-cursor {
  cursor: pointer !important;
}
.il-pill.selected {
  border: solid 2px $color-blue-2;
}
