@import "src/styleguide/shared";
.il-input {
  @include il-input;
  ::ng-deep {
    input.mat-input-element {
      font-size: 14px;
    }
    .mat-form-field-appearance-legacy .mat-form-field-label {
      font-size: 14px;
      top: 23px !important;
    }
  }
}
