@import "src/styleguide/shared";
.list-item {
  height: 42px;
  background-color: $color-white;
  padding-left: 32px;
  padding-right: 10px;
  > div {
    width: 100%;
  }
  &:hover {
    background-color: $color-white-1;
    cursor: pointer;
  }
}
