
@import "src/styleguide/shared";
.stars-rating {
  position: relative;
  display: inline-block;
  color: transparent;
  font-size: 35px;

  &:before{
    content: '★★★★★';
    position: absolute;
    top: -3px;
    left: 0;
    color: $color-gray-2;
  }

  &:after {
    content: '★★★★★';
    position: absolute;
    top: -3px;
    left: 0;
    color: $color-yellow;
    width: var(--stars-rating); 
    overflow: hidden;
  }
}