<mat-card class="graph-card">
  <div fxLayout="column" fxLayoutGap="20px">
    <div class="chart-container">
      <div class="chart-container-inner">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [colors]="barChartColors"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>
    </div>
    <div class="chart-container">
      <div class="chart-container-inner">
        <canvas baseChart 
          [datasets]="barChartDataContracts"
          [labels]="barChartLabelsContracts"
          [options]="barChartOptionsContracts"
          [colors]="barChartColorsContracts"
          [legend]="barChartLegendContracts"
          [chartType]="barChartTypeContracts">
        </canvas>
      </div>
    </div>
    <div class="chart-container">
      <div class="chart-container-inner">
        <canvas baseChart 
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
  </div>
</mat-card>