@import "src/styleguide/shared";
.il-rightnav {
  @include rightnav;
}
.il-fab {
  @include il-fab;
  left: 95%;
  top: 82%;
  &.default {
    left: 95%;
    top: 75%;
  }
}
.footer > div {
  @include fade-in;
}

.hidden {
  display: none;
}
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.item-container {
  margin-bottom: 0;
  > div {
    color: $color-black-1;
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    width: 25%;
    div:first-child {
      font-size: 12px;
      color: $color-gray-1;
    }
  }
  > div:first-child {
    margin-right: 40px;
    margin-left: 5%;
  }
}
.action-item {
  font-size: 12px;
  font-weight: 500;
  color: $color-primary;
  cursor: pointer;
  &:last-child {
    color: $color-red;
  }
}
.contract-box {
  width: 176px;
  height: 120px;
  background-color: $color-gray-3;
  place-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  font-size: 12px;
}
:host ::ng-deep {
  .mat-ink-bar {
    display: none;
  }
  .mat-tab-label .mat-tab-label-content {
    width: 100%;
  }
  .mat-tab-label-content {
    height: 50px;
    position: relative;
    left: -7px;
  }
  .mat-tab-label {
    background-color: transparent;
    padding: 0;
    opacity: 1 !important;
    width: 310px;
  }
  .mat-card {
    padding: 0 !important;
  }
}



