<div fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="row">
    <h1>PI SK19NL0806-1 Touch Dimmer Switch</h1>
  </div>
  <div fxLayout="row" fxLayoutGap="20px">
    <div class="action-item" *ngFor="let option of options" (click)="option?.action()" fxLayoutAlign="start center" fxLayoutGap="5px">
      <img [src]="svgPath + option?.icon" />
      <span>{{ option?.label }}</span>
    </div>
  </div>
  <mat-card>
    <div fxLayout="column">
      <div class="card-row">
        <div fxFlex fxLayout="column" fxLayoutGap="20px">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div class="img-box">
              <img [src]="svgPath + 'doc-icon-blue.svg'" />
            </div>
            <h2>Contract</h2>
          </div>
          <div class="item-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="40px">
            <div>
              <div>Company</div>
              <div>CIL China</div>
            </div>
            <div>
              <div>Responsible Person</div>
              <div>Tammy Li</div>
            </div>
            <div>
              <div>Position</div>
              <div>Procurement Officer</div>
            </div>
            <div>
              <div>Upload Date</div>
              <div>12.08.2019</div>
            </div>
            <div>
              <div>Venue</div>
              <div>Venue Name</div>
            </div>
          </div>
          <div fxFlex class="image-container">
            <div cdkDropList cdkDropListOrientation="horizontal" class="image-list" (cdkDropListDropped)="drop($event)">
              <div class="image-box" *ngFor="let image of contractImages" cdkDrag>
                <img [src]="image">
              </div>
            </div>
          </div>
        </div>
        <div fxFlex="176px" fxLayoutAlign="end center">
          <div class="contract-box">
            <span>contract image</span>
          </div>
        </div>
      </div>

      <div class="card-row">
        <il-contract-detail-products></il-contract-detail-products>
      </div>
    </div>
  </mat-card>

  <il-contract-product-specs [isRightNavOpen]="showRightNav"></il-contract-product-specs>

  <div *ngIf="!showRightNav" class="fab-buttons">
    <!-- <button class="il-fab default" mat-fab>
      <img [src]="svgPath + 'templates-icon-blue.svg'" />
    </button> -->
    <button (click)="addContract()" class="il-fab" mat-fab>
      <img [src]="svgPath + 'add-icon-white.svg'" />
    </button>
  </div>

  <p-sidebar class="il-rightnav" [(visible)]="showRightNav" position="right" [showCloseIcon]="false">
    <div class="upper-pane">
      <il-contract-right-content (closeEmitter)="showRightNav = $event"></il-contract-right-content>
    </div>
  </p-sidebar>

  <p-sidebar class="il-rightnav-bottom" [(visible)]="showRightNav" position="right" [showCloseIcon]="false">
    <div fxLayoutAlign="center center">
      <button mat-flat-button class="il-button primary"> Save </button>
    </div>
  </p-sidebar>
</div>
