<div fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="row">
    <h1>PI SK19NL0806-1 Touch Dimmer Switch</h1>
  </div>
  <div fxLayout="row" fxLayoutGap="20px">
    <div class="action-item" *ngFor="let action of actionOptions" fxLayoutAlign="start center" fxLayoutGap="5px">
      <img [src]="svgPath + action?.icon" />
      <span>{{ action?.label }}</span>
    </div>
  </div>
  <mat-card class="cdc">
    <div fxLayout="column">
      <div class="card-row">
        <div fxFlex fxLayout="column" fxLayoutGap="20px">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div class="img-box">
              <img [src]="svgPath + 'doc-icon-blue.svg'" />
            </div>
            <h2>Contract</h2>
          </div>
          <div *ngFor="let i of [0, 1]" class="item-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="40px">
            <div>
              <div>Company</div>
              <div>CIL China</div>
            </div>
            <div>
              <div>Responsible Person</div>
              <div>Tammy Li</div>
            </div>
            <div>
              <div>Position</div>
              <div>Procurement Officer</div>
            </div>
            <div>
              <div>Upload Date</div>
              <div>12.08.2019</div>
            </div>
            <div>
              <div>Venue</div>
              <div>Venue Name</div>
            </div>
          </div>
        </div>
        <div fxFlex="176px" fxLayoutAlign="end center">
          <div class="contract-box">
            <span>contract image</span>
          </div>
        </div>
      </div>

      <div class="card-row">
        <il-contract-detail-products></il-contract-detail-products>
      </div>
    </div>
  </mat-card>

  <mat-tab-group class="il-tab">
    <mat-tab label="General Design and Specification">
      <ng-template matTabContent>
        <il-expansion-panel [panels]="panels"></il-expansion-panel>
        <div fxLayout="row" fxLayoutAlign="center center" class="footer">
          <img class="add" *ngIf="!_showTabActions" (click)="_showTabActions = !_showTabActions" [src]="svgPath + 'add-icon-gray.svg'" />
          <div fxFlex *ngIf="_showTabActions" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
            <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
              <div class="link" (click)="add()">Add a category</div>
              <div class="link">Add a title</div>
              <div class="link">Import template</div>
            </div>
            <div fxFlex="4" fxLayoutAlign="center center">
              <img class="close" (click)="_showTabActions = false" [src]="svgPath + 'close-icon-gray.svg'" />
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
