<div fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="row">
    <h1>PI SK19NL0806-1 Touch Dimmer Switch</h1>
  </div>
  <div fxLayout="row" fxLayoutGap="20px">
    <div class="action-item" *ngFor="let option of options" (click)="option?.action()" fxLayoutAlign="start center" fxLayoutGap="5px">
      <img [src]="svgPath + option?.icon" />
      <span>{{ option?.label }}</span>
    </div>
  </div>
  <mat-card [ngClass]="{'reduce-opacity': showRightNav == true}">
    <div fxLayout="column">
      <div class="card-row">
        <div fxFlex fxLayout="column" fxLayoutGap="20px">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div class="img-box">
              <img [src]="svgPath + 'doc-icon-blue.svg'" />
            </div>
            <h2>Contract</h2>
          </div>
          <div class="item-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="40px">
            <div>
              <div>Company</div>
              <div>CIL China</div>
            </div>
            <div>
              <div>Responsible Person</div>
              <div>Tammy Li</div>
            </div>
            <div>
              <div>Position</div>
              <div>Procurement Officer</div>
            </div>
            <div>
              <div>Upload Date</div>
              <div>12.08.2019</div>
            </div>
            <div>
              <div>Venue</div>
              <div>Venue Name</div>
            </div>
          </div>
          <div fxFlex class="image-container">
            <div cdkDropList class="image-list" cdkDropListOrientation="horizontal" fxLayoutAlign="start center" (cdkDropListDropped)="drop($event)">
              <div class="drag-box" cdkDrag [cdkDragDisabled]="showRightNav" *ngFor="let img of contractImages" fxLayoutAlign="center center">
                <div class="drag-placeholder" *cdkDragPlaceholder></div>
                <img [src]="imgPath + 'product-img.png'">
              </div>
            </div>
          </div>
        </div>
        <div fxFlex="176px" fxLayoutAlign="end center">
          <div class="contract-box">
            <img [src]="imgPath + 'contract-img.png'">
          </div>
        </div>
      </div>

      <div class="card-row">
        <il-contract-detail-products [isRightNavOpen]="showRightNav"></il-contract-detail-products>
      </div>
    </div>
  </mat-card>

  <div fxLayout="column" fxLayoutGap="20px" cdkDropList (cdkDropListDropped)="dropSpecs($event)">
    <div *ngFor="let specification of specifications" fxLayoutGap="20px">
      <il-contract-product-specs [isRightNavOpen]="showRightNav" [specification]="specification" (removeProductSpecEmitter)="handleRemoveProductSpecs($event)"></il-contract-product-specs>

      <il-contract-product-specs-title cdkDrag (cdkDragStarted)="dragStartedSpecs(true)" [specification]="specification" (removeSpecTitleEmitter)="handleRemoveSpecsTitle($event)"></il-contract-product-specs-title>
    </div>
  </div>

  <p-sidebar class="il-rightnav" [(visible)]="showRightNav" position="right" [showCloseIcon]="false">
    <div class="upper-pane">
      <il-contract-right-content (closeEmitter)="showRightNav = $event"></il-contract-right-content>
    </div>
  </p-sidebar>

  <p-sidebar class="il-rightnav-bottom" [(visible)]="showRightNav" position="right" [showCloseIcon]="false">
    <div fxlayout="row" fxLayoutAlign="center center" fxFlexFill>
      <button mat-flat-button class="il-button primary">Save</button>
    </div>
  </p-sidebar>
</div>
