<p-confirmDialog [style]="{width: '50vw'}" key="productSpecs"></p-confirmDialog>
<div fxLayout="column">
  <div>
    <div fxLayout="row" fxLayoutGap="5px">
      <div class="tab-header">
        <div [ngClass]="{'disabled': isRightNavOpen}" fxLayoutAlign="center center">
          <span>{{ tabTitle }}</span>
        </div>
      </div>
      <img *ngIf="!isRightNavOpen" matTooltip="Update Category Title" class="save-icon" (click)="UpdateProductSpecTitle()" [src]="svgPath + 'save-icon-blue.svg'" />
    </div>
    <mat-tab-group class="il-tab">
      <mat-tab class="tab-1">
        <ng-template matTabContent>
          <il-contract-product-category-table [isRightNavOpen]="isRightNavOpen"></il-contract-product-category-table>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
